.card-hover:hover {
    box-shadow: 0 0.5rem 1rem rgb(190, 190, 190);
    background-color: #efefef;
    .card-hover > * {
        box-shadow: unset;
       
    };
    .card-hover > .btn {
        background-color: unset;
    };   
};